* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

.header {
  height: 60px;
  background-color: rgb(59, 53, 145);
  display: flex;
  align-items: center;
}

.header-text {
  font-size: 28px;
  color: white;
  padding-left: 32px;;
}

.container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-background,
.control-panel-background {
  background-color: rgb(59, 53, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.grid-background {
  height: 700px;
  width: 700px;
}

.grid-container {
  border: 1px solid black;
  width: max-content;
  height: max-content;
  background-color: white;
}

.control-panel-background {
  height: 700px;
  width: 300px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  padding: 36px 0;
  gap: 36px;
}

.control-panel-header {
  font-size: 30px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
}

.control-panel-content {

  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.control-panel-content > div, button{
  color: white;
  background-color: transparent;
  width: 260px;
  min-height: 40px;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none;
}

#clear-button:active {
  border-color: yellow;
  color: yellow;
}